:root{
    --base-color: rgb(225, 225, 225);
    --base-variant: rgb(206, 206, 206);
    --text-color: #111528;
    --secondary-text: #232738;
    --shadow-color: #433D8B;
    --button-hover: #b86edd;
    --button-active: #500974;
    --border-color: #17153B;
    --logo-color: white;
}
.darkmode{
    --base-color: #111528;
    --base-variant: #232738;
    --text-color: white;
    --secondary-text: rgb(206, 206, 206);
    --shadow-color: #b86edd;    
    --button-hover: #722897;
    --button-active: #500974;
    --border-color: #3e1050;
    --logo-color: white;
}
*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: "space grotesk", sans-serif;
font-style: normal;
font-optical-sizing: auto;
text-decoration: none;
}
body{
overflow-x: hidden;
background-image: url('images/background-lines.png');
background-color: var(--base-color);
background-position: center;
background-attachment: fixed;
background-size: cover;
transition: 0.5s;
}

.hero-header{
width: 100%;
height: 100%;
min-height: 100vh;


}
.wrapper{
width:1280px;
max-width: 95%;
margin: 0 auto;
padding: 0 20px;

}

header{
padding: 40px 0px 40px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}

#logo{
display: inline-flex;
justify-content: center;
align-items: center;
z-index: 2;
}

#logo i{
    height: 45px;
    width: 45px;
    background-color: var(--border-color);
    border-radius: 50%;
    color: var(--logo-color);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    
}
#logo i:hover{
text-shadow: 0 0 10px #fff,
0 0 15px #fff,
0 0 21px #fff,
0 0 42px white,
0 0 82px #fff,
0 0 92px #fff,
0 0 102px #fff,
0 0 150px #fff;;
}

nav .navlinks{
list-style-type: none;
display: flex;
}

nav .navlinks li{
display: inline-block;
z-index: 2;

}

nav .navlinks li a{
    color: var(--text-color);
    margin-right: 2.5rem;
    transition: 0.3s;
    box-shadow: 0 0 10px #433D8B;
    padding: 10px;
    border-radius: 12px;
    
}
nav .navlinks li a:hover{
    background-color: var(--button-hover);
    font-size: 18px;
}
nav .navlinks li a:active{
    color: white;
    background-color: var(--button-active);
}
.container{
padding-top: 3rem;
text-align: center;

}

.hero-text h1{
color: var(--text-color);

}
.hero-text p{
color: var(--secondary-text);
margin-top: 10px;
}
.hero-text .social i{
color: var(--text-color);
font-size: 1.5rem;
margin-right: 10px;
transition: 0.5s;
margin-left: 10px;

}
.hero-text .social i:hover{
    color: var(--button-hover);
}
.social{
margin-top: 10px;
padding: 20px;
}

#open-sidebar-button {
display: none;
background:none;
border: none;
padding: 1em;
margin-left: auto;
cursor: pointer;
transition: 0.5s;

}
button i{
color: var(--text-color);
font-size: 1.5rem;
align-items: center;
transition: 0.5s;

}
button i:hover{
    color: var(--button-hover);
}

#close-sidebar-button{
display: none;
background: none;
border: none;
padding: 1em;
cursor: pointer;
transition: 0.5s;
}



#overlay{
background: rgba(0, 0, 0, 0.5);
position: fixed;
inset: 0;
z-index: 9;
display: none;

}

/* responsive design*/
@media screen and (max-width:900px)
{
#open-sidebar-button, #close-sidebar-button{
    display: block;
}

nav{
    position: fixed;
    top: 90px;
    right: -100%;
    margin-right: 10%;
    height: 40vh;
    width: min(15em, 100%);
    z-index: 10;
    transition: right 300ms ease-out;
    background-color: var(--base-color);
    border-radius: 12px;
    padding: 12px;
}
nav .navlinks li button{
    margin-left: auto;
}
nav .navlinks li a{
    display: block;
    margin: 1vh 0px;
    padding: 10px;
    
}
nav.show{
    right: 0;
    
}
nav.show li a{
    text-align: center;
}
nav.show ~ #overlay{
    display: block;
}

nav ul{
    width: 100%;
    flex-direction: column;
}
nav a{
    width: 100%;
    padding-left: 2.5em;
}

.social{
    text-align: center;
}

.container{
    flex-direction: column;
    padding-top: 2rem;
}
.hero-text{
    margin-top: 15px;
    padding: 12px;
}
}
