*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #333;
}
body{
    overflow-x: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    
}
header{
    padding: 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: #320747;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    
}
.logo i:hover{
    text-shadow: 0 0 10px #fff,
    0 0 15px #fff,
    0 0 21px #fff,
    0 0 42px white,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 150px #fff;;
}
nav .navlinks{
    list-style-type: none;
    display: flex;
    
    
}

nav .navlinks li{
    display: inline-block;
    z-index: 2;
    
}

nav .navlinks li a{
    color: #000000;
    margin-right: 2.5rem;
    transition: 0.5s;
    box-shadow: 0 0 10px #433D8B;
    padding: 10px;
    border-radius: 12px;
    
}
nav .navlinks li a:active{
    color: white;
    background-color: #36074d;
}



.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
    
}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #17153B;
    box-shadow: 0 0 10px #433D8B,
    0 0 50px #17153B;
    z-index: 2;
    
}

.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 12px;
    z-index: 2;

}

.hero-text h3{
    color: #000000;
    font-size: 20px;
}
.hero-text h1{
    color: #000000;
    
}
.hero-text h1 span{
    color: #000000;
    font-size: 3rem;
    transition: 0.5s;
    
}


.hero-text p{
    color: #000000;
}


.hero-text .social i{
    color: #000000;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: 0.5s;
    margin-left: 10px;
}
.hero-text .social i:hover{
    color: #793999;
}
.social{
    margin-top: 10px;
    padding: 20px;
}
/*open and close button*/
#open-sidebar-button {
    display: none;
    background:none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    transition: 0.5s;
    
}
button i{
    color: #000000;
    font-size: 1.5rem;
    align-items: center;
    transition: 0.5s;
    
}


#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    transition: 0.5s;
}



  #overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
    
  }

/* responsive design*/
@media screen and (max-width:900px)
{
    #open-sidebar-button, #close-sidebar-button{
        display: block;
        z-index: 2;
    }
    
    nav{
        position: fixed;
        top: 90px;
        right: -100%;
        margin-right: 10%;
        height: 40vh;
        width: min(15em, 100%);
        z-index: 10;
        background-color:rgb(113, 113, 113) ;
        transition: right 300ms ease-out;
        background-color: #ffffff;
        border-radius: 12px;
        padding: 12px;
    }
    nav .navlinks li button{
        margin-left: auto;
    }
    nav .navlinks li a{
        display: block;
        margin: 1vh 0px;
        padding: 10px;
        
    }
    nav.show{
        right: 0;
        
    }
    nav.show li a{
        text-align: center;
    }
    nav.show ~ #overlay{
        display: block;
    }
    
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    
    .social{
        text-align: center;
    }

    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .hero-text{
        margin-top: 15px;
        padding: 12px;
    }
}



